
$mobile-widths-only: "(max-width:767px)";
$tablet-widths: "(min-width:768px)";
$desktop-widths: "(min-width:1200px)";

$font_path: "../fonts/";
$mainFont: "SuisseIntl-Light", Arial, sans-serif;
$font_2: "SuisseIntl-SemiBold", Arial, sans-serif;

$green_color:#3db565;
$black_color: #2e2e2e;
$black_color_2: #262626;
$white:#ffffff;
$black:#000000
